body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body,textarea,input{font:16px "\9ed1\4f53","\5B8B\4F53","Arial Narrow",HELVETICA;color:#fff;background:#fff;-webkit-text-size-adjust:100%;}
a{text-decoration:none}
a:hover{color:#C00;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}